body, html{height:100%; padding:0; margin:0; background-color: lightblue;}
main{background:none repeat scroll 0 0 wheat; border: 1px solid; box-shadow: 1px 1px 6px #000000; 
	margin: 0 auto; padding: 0 41px 41px; width: 70%;}
div{background-color: teal; font-family: verdana; font-size: 1em; color: yellow; display:block; 
	width:auto; height:auto; margin: 20px 10px; padding: 10px 20px; 
	border: 5px solid lightgreen; border-radius: 15px; box-shadow: 5px 5px 10px #000000;}
img{display: block; float: right; margin: 0 auto; width: 20%;}
h3, #homeDiv{text-align: center;}
#crono{position: fixed; margin: 10px 50px; padding: 10px;}
#homeDiv img{float: left; width: 20%;}
#start, #notaFinal{display: block; text-align: center; margin: 0 auto;}